
*.py

.ipynb_checkpoints/Chapter1.Setup-checkpoint.ipynb

.ipynb_checkpoints/Chapter0.ShamelessPlug-checkpoint.ipynb

.ipynb_checkpoints/Chapter0.ShamelessPlug-checkpoint.ipynb

.ipynb_checkpoints/Chapter2.BasicPython-checkpoint.ipynb

.ipynb_checkpoints/Chapter3.Stack-checkpoint.ipynb

.ipynb_checkpoints/Chapter4.Demos-checkpoint.ipynb

.ipynb_checkpoints/Chapter4.Demos-checkpoint.ipynb

night.csv
